@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<<h2>Oh, No!</h2>

<div class="alert alert-danger">
    Something bad happened and we have error monitors in place that will let
    us know that we have something to fix.
    If you want to contact us, refer to the
    following error id: <strong>@Model.RequestId</strong>

</div>
