
@model AuthorVM

@{
    ViewData["Title"] = "Article Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Articles</title>
</head>
<body>
    <h1>Articles</h1>

    <form method="post">

        @Html.ActionLink("Cancel", "Cancel")

        <br /><br />
        <h5>Authors select Articles</h5>
        <br />
        <table border="1" cellpadding="10">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th colspan="4">Actions</th>
            </tr>
            @foreach (var item in Model.Authors)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>
                        @Html.ActionLink("Select", "ArticleIndex", new { id = item.AuthorID })
                    </td>
                </tr>
            }
        </table>
    </form>
</body>
</html>


